<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form>
      <p>email</p>
      <input type="email" name="email">
      <p>password</p>
      <input type="password" name="password">
      <p>photo url</p>
      <input type="text" name="url"><br><br>  
      <input type="submit" value="submit">
    </form>
  </body>
</html>
